{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/global-style.css' %}">
</head>
<body>

<header>
    <form id="form">
        <h1>Com<span class="red">ics</span></h1>
        <label for="search"></label><input type="text" id="search" class="search" placeholder="Search"/>
    </form>
</header>

<main style="color:white">
<h1>Comic Universes </h1>
    <br>
    <a href={% url 'universes:save_universes' %}>New Universe</a>
    <div class="container-items"  >

        <br>
        {% for item in list %}
            <div class="item">
                    <h3>{{item.name}}</h3>
            </div>
        {%endfor%}
    </div>

</main>

<footer class="footer">
    <div class="footer__copy">
        <div class="footer__content">
            <div class="copy__text">
                © 2021 Jaider Pérez
            </div>
        </div>
    </div>
</footer>

</body>
</html>