{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/global-style.css' %}">
</head>
<body>

<header>
    <form id="form">
        <h1>Com<span class="red">ics</span></h1>
        <label for="search"></label><input type="text" id="search" class="search" placeholder="Search"/>
    </form>
</header>

<main style="color:white">
    <h1  >Universes Save</h1>


    <div class="form-group">
         <form method="post" action="{% url 'universes:save_universes' %}"  enctype="multipart/form-data" >
          {% csrf_token %}
            <div class="form-group">
              <label >Name</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group ">
              <label >Description</label>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
               <label >Foundation</label>
                <input type="date" name="foundation" id="">

           </div>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>

</main>

<footer class="footer">
    <div class="footer__copy">
        <div class="footer__content">
            <div class="copy__text">
                © 2021 Jaider Pérez
            </div>
        </div>
    </div>
</footer>

</body>
</html>